.app {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #43425d;
  color: white;
  height: 100vh;
}

.company-title {
  font-size: 36px;
}

.horizontal-break {
  width: 20vw;
}

.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  border-radius: 10px;
  box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, 0.29);
  height: 50vh;
  width: 50vw;
}

.landing-page-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.landing-page-button {
  background-color: #397c90;
  color: white;
  font-size: 1rem;
  border: none;
  height: 3rem;
  width: 10rem;
  border-radius: 10px;
  cursor: pointer;
}

.landing-page-button:hover {
  background-color: lightblue;
}
